DISCORD_TOKEN=your_discord_bot_token
ERLC_API_KEY=your_erlc_api_key
MONGODB_URI=your_mongodb_connection_string
PREFIX=>
CLIENT_ID=your_bot_client_id

SESSION_PERMS_ROLE=role_id_for_session_perms
INFRACTION_PERMS_ROLE=role_id_for_infraction_perms
PROMOTION_PERMS_ROLE=role_id_for_promotion_perms

SESSIONS_CHANNEL_ID=channel_id_for_sessions
PREVIEWS_CHANNEL_ID=channel_id_for_previews
PROMO_CHANNEL_ID=channel_id_for_promotions
INFRACTION_CHANNEL_ID=channel_id_for_infractions
