entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[userenv]

[userenv.shared]
PREFIX = ">"
SESSION_PERMS_ROLE = "1503030519628038194"
INFRACTION_PERMS_ROLE = "1503027494037491743"
PROMOTION_PERMS_ROLE = "1503027535309439177"
SESSIONS_CHANNEL_ID = "1503030832720384103"
PREVIEWS_CHANNEL_ID = "1503281460642320516"
PROMO_CHANNEL_ID = "1509314681901158430"
INFRACTION_CHANNEL_ID = "1509314657951944837"
CLIENT_ID = "1508768040710443279"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "console"
